# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.react-course.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\tog\Documents\Corso React\react-course\.idea\.idea.react-course.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
